# Python / Django .gitignore

# Byte-compiled
__pycache__/
*.py[cod]

# Virtualenv
env/
venv/
.venv/
.api-venv/

# Distribution
build/
dist/
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Celery
celerybeat-schedule
celerybeat.pid
*.pid

# Translations
*.mo
*.pot

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

.claude/